* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--color-bg);
}

:root {
  --color-bg: #242424;
  --color-bg-app: #ffffff;
  --color-font: #ffffff;
  --color-accent: #711F8D, #A818DA;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 800px;
  background: #ffffff;
  box-shadow: 13px 13px 26px #1c1c1c,
    -13px -13px 26px #2c2c2c;
  border-radius: 20px;

}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, var(--color-accent));
  color: var(--color-font);
  border-radius: 20px 20px 0px 0px;
}

.header_logo {
  height: 40px;
  width: auto;
  margin-left: 35px;
  margin-right: 10px;
}

.header_title {
  font-size: 1.4rem;
  font-weight: 600;
}

.header_text {
  margin-left: auto;
  margin-right: 25px;
  font-size: 1.1rem;
  font-weight: lighter;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.text_inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input_top,
.input_bottom {
  border: 2px solid #bebebe;
  width: 340px;
  height: 50px;
  padding-left: 15px;
  border-radius: 10px;
  outline: none;
}

.input_top:focus,
.input_bottom:focus {
  border: 2px solid #A818DA;
}

.form button {
  transition: 0.1s;
  align-self: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(90deg, var(--color-accent));
  color: var(--color-font);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  transition: 0.1s;
  scale: 1.03;
}

.form button:active {
  opacity: 0.8;
}